{% extends 'default.html' %} {% import 'macros.html' as macro %}

<!-- start content  -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4" width="100%">
            <h3 class="text-primary">Health News</h3>
            <img src="{{url_for('static', filename='images/health.jpg')}}" alt="business parters" width="100%" />
            <div style="width: 100%">{{macro.displaySourceList(health)}}</div>
        </div>
        <div class="col-md-4" width="100%">
            <h3 class="text-primary">Science News</h3>
            <img src="{{url_for('static', filename='images/science.jpeg')}}" alt="business parters" width="100%" />
            <div>{{macro.displaySourceList(science)}}</div>
        </div>
        <div class="col-md-4" width="100%">
            <h3 class="text-primary">Entertainment</h3>
            <img src="{{url_for('static', filename='images/entertainment.jpeg')}}" alt="business parters" width="100%" />
            <div class="">{{macro.displaySourceList(entertainment)}}</div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <h1 class="text-danger">Other News</h1>
    <div class="container" style="display: flex; align-items: center">
        <div class="col-md-12">
            <div class="">{{macro.displaySourceList(general)}}</div>
        </div>
    </div>
</div>
{% endblock %}