{% extends 'default.html' %} {% import 'macros.html' as macro %}
<!-- start content  -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="disp_cont">
                <div class="disp_img"><img src="{{url_for('static', filename='images/banner.jpeg')}}" alt="economy" /></div>
                <div class="disp_info container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="random-img">
                                <img src="{{url_for('static', filename='images/img-1.jpg')}}" alt="economy" />
                                <p>Lorem ipsum dolor este en sit.
                                    <a href="#">more..</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="random-img">
                                <img src="{{url_for('static', filename='images/img-2.jpg')}}" alt="economy" />
                                <p>Lorem ipsum dolor tomen sit.
                                    <a href="#">more..</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="random-img">
                                <img src="{{url_for('static', filename='images/img-3.jpeg')}}" alt="economy" />
                                <p>Lorem ipsum dolor sitipsum dolor s.
                                    <a href="#">more..</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="random-img">
                                <img src="{{url_for('static', filename='images/img-4.jpeg')}}" alt="economy" />
                                <p>Lorem ipsum dolor dos sit.
                                    <a href="#">more..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="splash_news">
                <div class="card">
                    <div class="card-item">
                        <p>Trending</p>
                    </div>
                    <div class="card-info">
                        <h2>Are election in the Us a scam?</h2>
                        <div class="cnn"><img src="{{url_for('static', filename='images/cn.png')}}" alt="economy" /></div>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero pariatur, nemo quaerat nobis illum qui vitae sed mollitia eligendi!"</p>
                        <input type="submit" value="see more">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 style="text-align: center; padding: 2rem 0; font-size: 2.5rem;">Popular News</h1>
    <div class="">{{macro.displaySourceList(general)}}</div>
</div>
{% endblock %}