{% extends 'default.html'%} {% import 'macros.html' as macro%}
<!-- styles -->
{% block content %}
<div class="sp-wraper">
    <img src="{{url_for('static', filename='images/sports.jpg')}}" alt="">
</div>
<div class="sp_news container">
    <div class="row">
        <div class="col-md -12 sp_news_tr">
            <div class="sp-news">
                <h1 style="text-align: center; padding: 2rem 0; font-size: 2.5rem;">Sports News</h1>
                <ul>
                    {{ macro.displaySourceList(sports)}}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock%}